body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand {
    color:red;
}

    
     
h1{
    font-family:Marck Script;
    .lava-text {
        color: #D7F01D;
     
}
    
.image-allign{
    display: block;
    margin-left: auto
    margin-right: auto;
    width: 10%;
    top: 50%;
    left: 50%;
    align-self: center;
}