body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-fixed-top {
    height:px;

    }
}

    
     
h1{
    font-family:Marck Script;
    .lava-text {
        color: #D7F01D;
     
}