body {
  padding-top: 50px;
}
.starter-template {
  padding: 30px 10px;
  text-align: center;
}

.pagealignment{
    padding-right: 15px;
    padding-left: 0px;
    margin-right: 190px;
    margin-left: 40px;
}
.navbar-brand {
    color:red;
    text-align: left;
}
.navbar-align{
    text-align: left;
}
     
p {
    font-family: Arvo;
    font-size: 12px; 
}
h1{
    font-family: Audiowide;
    font-size: 50px;
}

h2 {
    font-family: Marck Script;
}

.image-globallalign{
    position: absolute;
    display: block;
    left: 120px;
    right: auto;
}

#image-LBJnikealign {
    background-image: url("https://wallpapercave.com/wp/wp1827316.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}
    
.image-MJdunkalign{
    position: absolute;
    display: block;
    right: auto;
    left: 450px;
    top: 5px;
}
.image-Curryhandlesalign{
    position: absolute;
    display: block;
    right: auto;
    left: 0px;
    top: 460px;
}

.image-jonathanallign {
    position: fixed;
    right: 1200px;
    left: 30px;
    top: 180px;
    align-self: auto;    
}

.jumbotron{
    color: midnightblue;
    margin-right: 
}

.aboutmetextbox {
    position: absolute;
    right: 20px;
    left: 260px;
    top: 180px;
    border: 3px solid #0d0d0d;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.cavslogoalign {
    position: absolute;
    display: block;
    left: 40px;
    top: 80px;
}

.cavsjerseyalign {
    position: absolute;
    display: block;
    left: 1140px;
    top: 100px;
}
.gold-box {
    border: 3px;
    background: gold; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, gold, maroon); /* Standard syntax (must be last) */
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -200px;
    margin-right color: black;
    margin-left: -10px;
    background-color: gold;
    text-align: center;
}

.prune-box {
    border: 3px;
    background-color: maroon;
    padding-top: 45px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-right: -10px;
    margin-left: 200px;
    background-color: maroon;
}
.LBJBiotextbox1 {
    position: absolute;
    border: 20px;
    right: 700px;
    left: 30px;
    top: 1471px;
    border: 3px solid #00008B;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 23px;
    margin top: 10px;
    margin-bottom: 0px;
    margin-left: -16px;
    margin right: 20px;
}
.LBJBiotextbox2 {
    position: absolute;
    border: 20px;
    right: 30px;
    left: 400px;
    border: 3px solid #00008B;
    top: 60px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2043px;
    margin-bottom: 40px;
    margin-left: 350px;
    margin right: 20px;
}
.LBJBiotextbox3 {
    position: absolute;
    border: 20px;
    right: 700px;
    left: 20px;
    border: 3px solid #00008B;
    top: 905px;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 23px;
    margin-top: 2035px;
    margin-bottom: 40px;
    margin-left: 14px;
    margin right: 200px;
}
.LBJBiotextbox4 {
    position: absolute;
    border: 20px;
    right: 30px;
    left: 400px;
    border: 3px solid #00008B;
    top: 75px;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3555px;
    margin-bottom: 40px;
    margin-left: 350px;
    margin right: 20px;
}
.LBJBiotextbox5 {
    position: absolute;
    border: 20px;
    right: 700px;
    left: 20px;
    border: 3px solid #00008B;
    top: 920px;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 23px;
    margin-top: 3313px;
    margin-bottom: 40px;
    margin-left: 14px;
    margin right: 200px;
}
.LBJBiotextbox6 {
    position: absolute;
    border: 10px;
    right: 15px;
    left: -1px;
    border: 3px solid #00008B;
    top: 63px;
    padding-left: 40px;
    padding-right: 420px;
    padding-bottom: -30px;
    margin-top: 1100px;
    margin-left: 16px;
    margin right: 20px;
}
.container {
    position: relative;
    width: 40%;
    left: 350px;
    top: -70px;
    padding-top: 0px;
}
.LBJcurrentpic {
    display: block;
    width: 64.8%;
    height: 256px;
    margin: 102px 250px; 
    border: solid 12px #000000
}
.overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 20px;
    bottom: 101px;
    background-color: darkblue;
    overflow: hidden;
    width: 61.5%;
    left: -2px;
    right: 5px;
    height: 0%;
    transition: .5s ease;
    margin-left: 267px;
}

.container:hover .overlay {
  height: 26%;
  opacity: 0.9;
}

.text {
    white-space: nowrap; 
    color: gold;
    font-size: 25px;
    font-family: Marck Script;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

